:root {
   --outer-radius: 8rem;
   --inner-radius: 6rem;
   --padding: 2rem;
   --gap: 2rem;
   --wrapper-bg: white;
   --education-bg: rgb(255, 0, 53);
   --skills-bg: rgb(109, 152, 186);
   --introduction-text: white;
   --titles-text: rgb(190,190,190);
}